body {
  margin: 0;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  height: 100vh;  
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

.alert {
  padding: 10px!important;
  font-size: .8em!important;
}

.main {
  background:
    linear-gradient(to right, white 4px, transparent 4px) 0 0,
    linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
    linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 100px 100px;
}

#stargazing {
  width: 50%;
  min-width: 260px;
  align-self: center;
  margin: 30px;
}

.img-thumbnail#stargazing {
  background-color: #fff;
  background-color: #4ea5d9cc;
  border-radius: 46%;
  padding: 0.25rem;
  border: none;
}

.home {
  width: 85%;
  max-width: 800px;
  height: 60%;
  min-height: 350px;
  margin: 20%;
  padding: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.home button {
  margin: auto;
  margin-top: 0!important;
}

.subtext {
  margin-bottom: 5px!important;
  /* opacity: 0.7; */
  color: #e6f9af;
}
.home.about {
  padding: 0px;
}

.about p {
  margin-top: 20px;
}

.main h1 {
  font-size: 2em;
}

/* .main p {
  font-size: 1.1em;
} */

.content {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.news-article .date {
  margin-bottom: 0px;
}
.news {
  text-align: start;
}

.article-card {
  margin-top: 50px;
}

.date {
  font-size: medium;
  opacity: 0.7;
}

.summary {
  font-size: large;
}

.news p {
  font-size: large;
  max-width: 1020px;
}

.news-article img, .news-article div {
  width: 90%;
  max-width: 1020px;
  margin-bottom: 30px;
  font-size: 0.8em;
}

.news-article hr {
  margin-top: 40px;
}
.article-card img {
  object-fit: cover;
  max-height: 250px;
}

.page-title {
  text-align: center;
}

.button-primary {
  border-radius: 40px!important;
  padding: 10px 25px 10px 25px!important;
  font-size: large!important;
  background-color: #4EA5D9!important;
  border-color: white!important;
  border-width: 0px!important;
}

.read-more {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-bottom: 20px;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 50px!important;
  position: relative;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.two-lines {
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
}

.three-lines {
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
}

.share-icon {
  margin-inline-end: 10px;
}

.share-icons {
  margin-bottom: 20px;
}

.amazon-card {
  height: 80%;
  max-height: 490px;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: black!important;
  color: white!important;
}

.amazon-card img {
  height: 60%;
  max-height: 250px;
  object-fit: cover;
}

.amazon-card p {
  font-size: medium;
  padding-bottom: 0px!important;
}

.form-control.input-primary {
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.input-primary::placeholder {
  color: rgba(255, 255, 255, 0.8)!important;
}

.contact-form p {
  margin-bottom: 30px;
}

.moon-phase {
  width: 50%;
  min-width: 250px;
  margin-bottom: 20px;
}

#moon-phase button {
  margin-right: 20px;
  margin-left: 20px;
}

.moon-tonight span {
  color: #e6f9af;
  font-weight: 600;
}

.stargazing-checklist {
  width: 70%;
  max-width: 350px;
  margin: 30px;
}

.moon-tonight {
  font-size: 1.1em;
}
@media screen and (max-width: 450px) {
  .btn-group {
    flex-direction: column;
  }
  .btn-group .btn {
    border-radius: 0 !important;
    margin-left: 0px !important;
    margin-top: -1px !important;
  }
  .btn-group .btn:first-child {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  .btn-group .btn:last-child {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}

@media(max-width: 575px) {
  .article-card .card-text{
      padding: 30px;
  }

  .main {
    height: 65%;
    min-height: 300px;
  }
}
